<div id="wrapper">
  <ul class="navbar-nav sidebar accordion" id="accordionSidebar">
  </ul>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Bienvendio a nuestra tienda de libros</h1>
        </div>

        <div class="card text-center">
          <%= image_tag "colorB.png", class:"card-image-top img-fluid" %>

          <div class="card-body">
            <h2 class="card-title">Ventabook</h2>
            <p class="card-text"> sistema de venta </p>
            <%= link_to "Entrar", orders_path , class:"btn btn-info" %>
          </div>
        </div>
        <br>
      </div>
    </div>

    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Duoc 2020</span>
        </div>
      </div>
    </footer>
  </div>
  <ul class="navbar-nav sidebar  accordion" id="accordionSidebar">
  </ul>
</div>
